@import url("https://fonts.googleapis.com/css?family=Fira+Sans:600|Lato:400&display=swap");

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #9370db;
  line-height: 1.8;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.cta-inner {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(48,48,48);
}

.section-inner {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}

.cta-slogan {
  margin-bottom: 40px;
}

@media (min-width: 641px) {
  .form-input {
    min-width: 280px;
  }

  .cta-inner {
    padding-left: 48px;
    padding-right: 48px;
  }

  .section-inner {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .cta-split {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cta-split .cta-slogan {
    margin-bottom: 0;
    margin-right: 48px;
  }
}

.m-0 {
  margin: 0;
}

@media (max-width: 640px) {
  .form-group-desktop .form-input {
    margin-bottom: 12px;
  }

  .form-group-desktop .button {
    width: 100%;
  }
}

@media (min-width: 641px) {
  .form-group-desktop {
    display: flex;
  }

  .form-group-desktop .form-input {
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 12px;
  }

  .form-group-desktop .button {
    padding-left: 24px;
    padding-right: 24px;
    flex-shrink: 0;
  }
}

.form-input{
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #f9faff;
  border-width: 1px;
  border-style: solid;
  border-color: #16171b;
}

.form-input:hover {
  border-color: #6a6f82;
}

.form-input:active,
.form-input:focus {
  outline: none;
  border-color: #376df9;
}

.form-input[disabled] {
  cursor: not-allowed;
  background-color: #292b32;
  border-color: #1c1d22;
}

.form-input.form-error{
  border-color: #ff5fa0;
}

.form-input.form-warning {
  border-color: #ffc55a;
}

.form-input.form-success {
  border-color: #1ec198;
}

.form-input {
  display: block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  padding: 11px 15px;
  height: 48px;
  border-radius: 0;
  color: #16171b;
  box-shadow: none;
  max-width: 100%;
  width: 100%;
}

.form-input::-webkit-input-placeholder {
  color: #959cb1;
}

.form-input::-moz-placeholder {
  color: #959cb1;
}

.form-input:-ms-input-placeholder {
  color: #959cb1;
}

.form-input::-ms-input-placeholder {
  color: #959cb1;
}

.form-input::placeholder {
  color: #959cb1;
}

.form-input::-ms-input-placeholder {
  color: #959cb1;
}

textarea.form-input {
  height: auto;
  resize: vertical;
}

.form-input {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 12px;
}


button,
input,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

body,
button,
input,
select,
textarea {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.button:active {
  outline: 0;
}

.button:hover {
  background-color: #fff;
}

.button.is-loading {
  position: relative;
  color: transparent !important;
  pointer-events: none;
}

.button.is-loading::after {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  margin-left: -11px;
  margin-top: -11px;
  top: 50%;
  left: 50%;
  border: 2px solid #6a6f82;
  border-radius: 50%;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  z-index: 1;
  -webkit-animation: button-loading 0.6s infinite linear;
  animation: button-loading 0.6s infinite linear;
}

.button[disabled] {
  cursor: not-allowed;
  color: #16171b;
  background-color: #292b32 !important;
}

.button[disabled].is-loading::after {
  border-color: #16171b;
}


.button-primary {
  color: #f9faff;
  background-color: #376df9;
}

.button-primary:hover {
  background-color: #4678f9;
}

.button-primary.is-loading::after {
  border-color: #f9faff;
}

@-webkit-keyframes button-loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes button-loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pulse {
  box-shadow: 0 0 0 rgba(120, 120, 120, 0.4);
  animation: pulse 4s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(120, 120, 120, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(120, 120, 120, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(120, 120, 120, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(120, 120, 120, 0.4);
    box-shadow: 0 0 0 0 rgba(120, 120, 120, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(120, 120, 120, 0);
    box-shadow: 0 0 0 15px rgba(120, 120, 120, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(120, 120, 120, 0);
    box-shadow: 0 0 0 0 rgba(120, 120, 120, 0);
  }
}

.btn-primary, 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:hover, 
.open>.dropdown-toggle.btn-primary {
    background-color: #3bc0c3;
    border: 1px solid #3bc0c3;
}
.p-t-10 {
    padding-top: 10px !important;
}
.media-main a.pull-left {
    width: 100px;
}
.thumb-lg {
    height: 84px;
    width: 84px;
}
.media-main .info {
    overflow: hidden;
    color: #000;
}
.media-main .info h4 {
    padding-top: 10px;
    margin-bottom: 5px;
}

.swal2-title {
  text-align: center;
  color: white !important;
  background-color: transparent !important;
}
